---
layout: base.njk
---
  
<header>
  <p>{{ articles.address.publishedLastTimeAt | newsDate("dd LLL yyyy HH:mm:ss") }} (UTC).</time>
    <span class="author">Un article écrit par
      {% if articles.address.signaturesV2[0].person.name %}{{ articles.address.signaturesV2[0].person.name }}{% else %}Radio-Canada{% endif %}</span></p>
  <h2>{{ articles.address.title | safe }}</h2>
  <p>{% if articles.address.themeTag.name %}<a href="/{{ articles.address.themeTag.name | slug }}/">{{ articles.address.themeTag.name }}</a> > {{ articles.address.subThemeTags[0].name }}{% endif %}</p>
</header>
<main>
  <article>
{% if articles.address.shareableSummaryMultimediaContent.concreteImages[1].mediaLink.href %}
<figure>
<a class="load-image" href="{{ articles.address.shareableSummaryMultimediaContent.concreteImages[1].mediaLink.href }}">{{ articles.address.shareableSummaryMultimediaContent.legend }}<i>Cliquez ici pour afficher l'image d'en-tête</i></a>  
<figcaption style="display:none;">{{ articles.address.shareableSummaryMultimediaContent.legend }}</figcaption>
</figure>
{% endif %}
    {{ articles.address.body.html | safe }}
  </article>
  <aside><a href="{{ articles.address.canonicalWebLink.href }}">Lisez l'article sur Radio-Canada.ca</a></aside>
</main>