<!DOCTYPE html>
<html lang="fr">
<head>
<!-- This page was built at {{ buildtime.timestamp | newsDate("dd LLL yyyy HH:mm:ss") }} UTC -->
<!-- The source code is available on Github: https://github.com/jr-b/radiocanadalite -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Radio-Canada Lite | Version légère de Radio-Canada.ca">
  <meta name="Robots" content="index,follow">
  <meta property="og:description" content="Radio-Canada Lite | Version légère de Radio-Canada.ca">
  <meta property="og:title" content="Radio-Canada Lite | Version légère de Radio-Canada.ca">
  <meta property="og:url" content="https://rc-lite.xyz">
  <title>{{ articles.address.title | safe }} {{ title }} | {{ meta.siteName }}</title>
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">  
  <link rel="shortcut icon" href="#" />
</head>
<body>
  {% include "nav.njk" %}
  
  {{ content | safe }}

  <p id="demo"></p>


  {% include "footer.njk" %}
  <script src="/utils/mode-switcher.js"></script>
  {% include "load-image-js.njk" %}
  {% include "countdown.njk" %}
</body>
</html>