<!DOCTYPE html>
<html lang="fr">
<head>
<!-- This page was built at {{ buildtime.timestamp | newsDate("dd LLL yyyy HH:mm:ss") }} UTC -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Radio-Canada Lite | Version légère de Radio-Canada.ca">
  <meta name="Robots" content="index,follow">
  <meta property="og:description" content="Radio-Canada Lite | Version légère de Radio-Canada.ca">
  <meta property="og:title" content="Radio-Canada Lite | Version légère de Radio-Canada.ca">
  <meta property="og:url" content="https://rc-lite.xyz">
  <title>{{ articles.address.title | safe }} {{ title }} | {{ meta.siteName }}</title>
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">  
</head>
<body>
  {% include "nav.njk" %}
  
  {{ content | safe }}

  <footer>
    <div> 
      <p class="buildtime"><span class="blob"></span><strong>Dernière mise à jour: {{ buildtime.timestamp | newsDate("dd LLL yyyy HH:mm") }} GMT </strong></p>
      <p><a class="" href="/a-propos">À propos de {{ meta.siteName }}</a> | <a href="mailto:bonjour@jrb.nz">bonjour@jrb.nz</a></p>
      <p>Tous les textes sont récupérés via l'API de <a href="https://ici.radio-canada.ca">Radio-Canada.ca</a></p>
    </div>
  </footer>
    <script src="/utils/mode-switcher.js"></script>
    <script>
    document.querySelectorAll(".load-image").forEach((item) => {
      item.addEventListener("click", (event) => {
        const href = event.target.getAttribute("href");
        const legend = event.target.innerText;
        event.preventDefault();
        const newImage = document.createElement("img");
        newImage.setAttribute("src", href);
        newImage.setAttribute("alt", legend);
        document.querySelector("figcaption").style.display = "block";
        document.querySelector("figure").insertBefore(newImage, event.target);
        event.target.remove();
      });
    });
</script>
</body>
</html>