<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Radio-Canada Lite | Version légère de Radio-Canada.ca">
  <title>{{ articles.address.title | safe }} {{ title }} | {{ meta.siteName }}</title>
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/marquee.css' | url }}">

</head>
<body>
  {% include "nav.njk" %}
  
  {{ content | safe }}

  <footer>
    <div>
      <p><strong>{{ meta.siteName }}</strong> | <a href="mailto:bonjour@jrb.nz">bonjour@jrb.nz</a></p>
      <p>Pour consulter les plus récents articles ou le site complet, visitez <a href="https://ici.radio-canada.ca">Radio-Canada.ca</a></p>
      <p class="buildtime"><span class="blob"></span><strong>Dernière mise à jour: {{ buildtime.timestamp | newsDate("dd LLL yyyy HH:mm:ss") }} UTC </strong></p>
    </div>
  </footer>
    <script src="/utils/mode-switcher.js"></script>

</body>
</html>