  <footer>
    <div> 
      <p class="buildtime"><span class="blob"></span><strong>Dernière mise à jour: {{ buildtime.timestamp | newsDate("dd LLL yyyy HH:mm") }} GMT </strong></p>
      <p><a class="" href="/a-propos">À propos</a> | <a href="mailto:bonjour@rc-lite.xyz">bonjour@rc-lite.xyz</a></p>
      <p>Tous les textes sont récupérés via l'API de <a href="https://ici.radio-canada.ca">Radio-Canada.ca</a></p>
    </div>
  </footer>