  <footer>
    <div> 
      <p class="buildtime"><span class="blob"></span><strong>Prochaine mise à jour dans: <span id="timeleft"></span> </strong></p>
      <p><a class="" href="/a-propos">À propos</a> | <a href="mailto:bonjour@radiocanadamini.ca">bonjour@radiocanadamini.ca</a></p>
      <p>Tous les textes sont récupérés via l'API de <a href="https://ici.radio-canada.ca">Radio-Canada.ca</a></p>
    </div>
  </footer>