{% set currentUrl %}{{ page.url }}{% endset %}

<nav>

  <div class="style_site-container">
  <a class="logo-link" href="/">
    <span class="style_site">Radio-Canada Lite</span></a>

    <div class="switch-mode">
    <a id="theme-toggle" onclick="modeSwitcher()" style="cursor: pointer;text-align: center;margin: auto; text-decoration: none;"></a>
    </div>
  </div>

  <ul role="list">
    <li>
      <a {% if currentUrl === '/' %}aria-current="page"{% endif %} href="/">À la une</a>
    </li>

    {% for page in collections.pages %}
    <li>
      <a 
        {% if currentUrl === page.url %}aria-current="page"{% endif %} 
        href="{{ page.url }}">
          {{ page.data.title }}
      </a>
    </li>
    {%- endfor %}
  </ul>
</nav>