{% set currentUrl %}{{ page.url }}{% endset %}

<nav>

  <div class="style_site-container">
  <a class="logo-link" href="/">
    <span class="style_site">{{ meta.siteName }}</span></a>
    <div class="switch-mode">
    <a id="theme-toggle" onclick="modeSwitcher()" style="cursor: pointer;text-align: center;margin: auto; text-decoration: none;"></a>
    </div>
  </div>
{# <p class="round-header">Nouveau nom de domaine: <strong>rc-lite.xyz</strong> devient <strong>radiocanadamini.ca</strong></p> #}


  <ul role="list">
    <li>
      <a {% if currentUrl === '/' %}aria-current="page"{% endif %} href="/">À la une</a>
    </li>

    {% set navPages = collections.all | eleventyNavigation %}
    {% for page in navPages %}
    <li>
      <a 
        {% if currentUrl === page.url %}aria-current="page"{% endif %} 
        href="{{ page.url }}">
          {{ page.title }}
      </a>
    </li>
    {%- endfor %}
  </ul>
</nav>