---
title: Arts
layout: page.njk
---

<ul style="list-style: none;margin-block-start: 0px;padding-inline-start: 0px;">
{% for newsstories in arts %}
{% if newsstories.address.title %}
{% if newsstories.address.contentType.id == "11" %}
<li>— <a href="/arts/articles/{{ newsstories.address.title | slug }}/">{{ newsstories.address.title | safe }}</a><span>{% if articles.address.signaturesV2[0].person.name %}{{ articles.address.signaturesV2[0].person.name }}{% else %}Radio-Canada{% endif %}</span></li>
{% endif %}
{% endif %}
{% endfor %}
</ul>