---
title: Économie
layout: page.njk
eleventyNavigation:
  key: Économie
  order: 2
---

<ul style="list-style: none;margin-block-start: 0px;padding-inline-start: 0px;">
{% for newsstories in economie %}
{% if newsstories.address.body.html %}
<li>— <a href="/economie/articles/{{ newsstories.address.id }}/">{{ newsstories.address.title | safe }}</a></li>
{% endif %}
{% endfor %}
</ul>