---
title: Environnement
layout: page.njk
eleventyNavigation:
  key: Environnement
  order: 3
---

<ul style="list-style: none;margin-block-start: 0px;padding-inline-start: 0px;">
  {% for newsstories in environnement %}
    {% if (newsstories.body.html) or (newsstories.navigations) %}
      <li>—
        <a href="/environnement/articles/{{ newsstories.id }}/">{{ newsstories.title | safe }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>