---
title: Justice et faits divers
layout: page.njk
eleventyNavigation:
  key: Justice et faits divers
  order: 7
---

<ul style="list-style: none;margin-block-start: 0px;padding-inline-start: 0px;">
  {% for newsstories in justice %}
    {% if (newsstories.body.html) or (newsstories.navigations) %}
      <li>—
        <a href="/justice-et-faits-divers/articles/{{ newsstories.id }}/">{{ newsstories.title | safe }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>