---
title: Politique
layout: page.njk
eleventyNavigation:
  key: Politique
  order: 8
---

<ul style="list-style: none;margin-block-start: 0px;padding-inline-start: 0px;">
  {% for newsstories in politique %}
    {% if (newsstories.body.html) or (newsstories.navigations) %}
      <li>—
        <a href="/politique/articles/{{ newsstories.id }}/">{{ newsstories.title | safe }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>