---
title: Politique
layout: page.njk
eleventyNavigation:
  key: Politique
  order: 8
---

<ul style="list-style: none;margin-block-start: 0px;padding-inline-start: 0px;">
{% for newsstories in politique %}
{% if newsstories.address.title %}
{% if newsstories.address.contentType.id == "11" %}
<li>— <a href="/politique/articles/{{ newsstories.address.id }}/">{{ newsstories.address.title | safe }}</a></li>
{% endif %}
{% endif %}
{% endfor %}
</ul>