---
title: Santé
layout: page.njk
eleventyNavigation:
  key: Santé
  order: 9
---

<ul style="list-style: none;margin-block-start: 0px;padding-inline-start: 0px;">
  {% for newsstories in sante %}
    {% if (newsstories.body.html) or (newsstories.navigations) %}
      <li>—
        <a href="/sante/articles/{{ newsstories.id }}/">{{ newsstories.title | safe }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>