---
title: Société
layout: page.njk
eleventyNavigation:
  key: Société
  order: 11
---

<ul style="list-style: none;margin-block-start: 0px;padding-inline-start: 0px;">
  {% for newsstories in societe %}
    {% if (newsstories.body.html) or (newsstories.navigations) %}
      <li>—
        <a href="/societe/articles/{{ newsstories.id }}/">{{ newsstories.title | safe }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>