---
title: Sports
layout: page.njk
eleventyNavigation:
  key: Sports
  order: 12
---

<ul style="list-style: none;margin-block-start: 0px;padding-inline-start: 0px;">
  {% for newsstories in sports %}
    {% if (newsstories.body.html) or (newsstories.navigations) %}
      <li>—
        <a href="/sports/articles/{{ newsstories.id }}/">{{ newsstories.title | safe }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>