---
layout: articles.njk
pagination:
    data: techno
    size: 1
    alias: articles
permalink: "/techno/articles/{% if articles.address.id %}{{ articles.address.id }}{% else %}{{ pagination.pageNumber + 1 }}{% endif %}/"
---
