---
layout: articles.njk
pagination:
    data: societe
    size: 1
    alias: articles
permalink: "/societe/articles/{% if articles.id %}{{ articles.id }}{% else %}{{ pagination.pageNumber + 1 }}{% endif %}/"
---

