---
layout: articles.njk
pagination:
    data: sante
    size: 1
    alias: articles
permalink: "/sante/articles/{% if articles.id %}{{ articles.id }}{% else %}{{ pagination.pageNumber + 1 }}{% endif %}/"
---

