---
layout: articles.njk
pagination:
    data: international
    size: 1
    alias: articles
permalink: "/international/articles/{% if articles.id %}{{ articles.id }}{% else %}{{ pagination.pageNumber + 1 }}{% endif %}/"
---

