---
layout: articles.njk
pagination:
    data: ppagemtl
    size: 1
    alias: articles
permalink: "/a-la-une/articles/{% if articles.address.id %}{{ articles.address.id }}{% else %}{{ pagination.pageNumber + 1 }}{% endif %}/"
---
