---
layout: articles.njk
pagination:
    data: insolite
    size: 1
    alias: articles
permalink: "/insolite/articles/{% if articles.address.id %}{{ articles.address.id }}{% else %}{{ pagination.pageNumber + 1 }}{% endif %}/"
---
