---
layout: articles.njk
pagination:
    data: economie
    size: 1
    alias: articles
permalink: "/economie/articles/{% if articles.id %}{{ articles.id }}{% else %}{{ pagination.pageNumber + 1 }}{% endif %}/"
---

