/* Very Smol Reset */
* {
  box-sizing: border-box;
  margin: 0;
}

/* mode swithcer - dark light */
/* https://derekkedziora.com/blog/dark-mode-revisited */
html, html[data-theme="light"] { 
	--light-text-color: rgb(72, 72, 74);
  	--link-color: rgb(0, 112, 201);
  	--main-background-color: rgb(255, 255, 255);
  	--main-text-color: rgb(51, 51, 51);
    --quote-backgroud-color: rgb(0, 0, 0, 0.05);

}

html[data-theme="dark"] {
		--light-text-color: rgb(199, 199, 204);
  		--link-color: rgb( 100, 210, 255);
  		--main-background-color: rgb(28, 28, 30);
  		--main-text-color: rgb(229, 229, 234);
      --quote-backgroud-color: rgb(119, 119, 129);
	}

@media (prefers-color-scheme: dark) {
	html, html[data-theme="dark"] {
		--light-text-color: rgb(199, 199, 204);
  		--link-color: rgb( 100, 210, 255);
  		--main-background-color: rgb(28, 28, 30);
  		--main-text-color: rgb(229, 229, 234);
      --quote-backgroud-color: rgb(119, 119, 129, 0.33);
	}
	
	html[data-theme="light"] { 
	--light-text-color: rgb(72, 72, 74);
  	--link-color: rgb(0, 112, 201);
  	--main-background-color: rgb(255, 255, 255);
  	--main-text-color: rgb(51, 51, 51);
    --quote-backgroud-color: rgb(0, 0, 0, 0.05);
	}
}

@media (prefers-color-scheme: dark) {
	img {
	  filter: brightness(.8) contrast(1.2);
	}
  }

/* Layout */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 5vh clamp(1rem, 5vw, 3rem) 1rem;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  font-family: 'Public Sans', -apple-system, BlinkMacSystemFont, "segoe ui", "helvetica neue", helvetica, ubuntu, roboto, noto, sans-serif;
}

body > * {
  --layout-spacing: max(5vh, 1rem);
  --max-width: 70ch;
  width: min(100%, var(--max-width));
  margin-left: auto;
  margin-right: auto;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: -1rem;
  margin-right: -1rem;
}

nav ul li {
  padding: 0.5rem 1rem;
}

nav [aria-current="page"] {
  font-weight: bold;
}

header,
main,
main > * + * {
  margin-top: var(--layout-spacing);
}

body > footer {
  margin-top: auto;
  padding-top: var(--layout-spacing);
}

body > footer div {
  border-top: 1px solid #ccc;
  padding-top: 0.5em;
  font-size: 0.9rem;
  color: var(--main-text-color);
}

article * + * {
  margin-top: 1em;
}

/* Typography */
:is(h1, h2, h3) {
  line-height: 1.2;
}

:is(h1, h2) {
  max-width: 40ch;
}

:is(h2, h3):not(:first-child) {
  margin-top: 2em;
}

a {
  color: var(--link-color);
  text-underline-offset: 0.08em;
}

a:focus {
  outline: 1px solid currentColor;
  outline-offset: 0.2em;
}

blockquote > footer {
font-weight: bold;
}

/* Media */

article img {
  display: block;
  width: 100%;
  min-height: 20rem;
  max-height: 40vh;
  object-fit: cover;
  margin: 2rem auto;
}

@supports (aspect-ratio: 1) {
  article img {
    max-height: unset;
    aspect-ratio: 3/2;
  }
}

/* Supporting Content */

code:not([class*="language"]) {
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-size: 1.75ex;
  color: #444;
  background-color: rgba(0, 0, 0, 0.1);
  padding-right: 0.15em;
  padding-left: 0.15em;
}

blockquote {
  margin: 2rem 0;
  padding: 0.5em 1rem;
  border-left: 3px solid rgba(0, 0, 0, 0.35);
  background-color: var(--quote-backgroud-color);
  border-radius: 0 0.25rem 0.25rem 0;
}

.style_site-container {
  text-decoration: none;
display: flex;
align-items: center;
justify-content: space-between;
padding-bottom: .5rem;
}

.style_logo {
  width: 2rem;
height: 2rem;
-webkit-transform: translateY(.25rem);
transform: translateY(.25rem);
margin-right: .625rem;
}

.style_site {
  width: 2rem;
height: 2rem;
-webkit-transform: translateY(.25rem);
transform: translateY(.25rem);
margin-right: .625rem;
}

.meta-article {
  display: grid;
}

.logo-link {
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: bold;
}

a[href^='https']:not([class])::after {
  content: '⤤';
  text-decoration: none;
  color: gray;
  display: inline-block;
  margin-left: 1px;
}

a[href^='http']:not([class])::after {
  content: '⤤';
  text-decoration: none;
  color: gray;
  display: inline-block;
  margin-left: 1px;
}

body header p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #888;
}

header h2 {
  margin-top: 0 !important;
}

main article .framed ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}